* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.main {
  min-height: calc(100vh - 400px);
}

.home {
  padding-top: 2%;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

p {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.content ul {
  padding-top: 10px;
  padding-left: 11%;
}

.content img {
  text-align: center;
  margin: auto;
  display: flex;
  height: auto;
  width: 40%;
  padding-bottom: 4rem;
}

#last {
  padding-bottom: 4rem;
}

#intro {
  height: auto;
  padding-top: 5%;
  width: 48%;
  text-align: center;
  margin: auto;
  display: flex;
}

span {
  color: red;
}

li {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.vertical {
  margin-top: 5%;
  border-left: 2px solid black;
  height: 400px;
  display: inline-block;
}

@font-face {
  font-family: 'grifterbold';
  src: url("./grifterbold.otf");
  format: ("otf");
  font-weight: 100;
  font-display: swap;
}

@media only screen and (max-width: 1024px) {
  #intro {
    height: auto;
    width: 100%;
  }

  .content img {
    height: auto;
    width: 80%;
  }

  .vertical {
    margin-top: 8%;
  }

}

@media only screen and (max-width: 600px) {
  .vertical {
    display: none;
  }
}